<!DOCTYPE HTML>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<!--css-->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../static/js/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="../static/js/main.js"></script>
<!--search jQuery-->
 <!--mycart-->
<script type="text/javascript" src="../static/js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="../static/js/simpleCart.min.js"></script>
<!-- cart -->
  
</head>
<body>
	<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					 <div class="top-left">
						<a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> допомога  </font></font><i class="glyphicon glyphicon-phone" aria-hidden="true"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> +38 032 3222020</font></font></a>
					</div>
					<div class="top-right">
					<ul>
						<li><a href="login.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вхід</font></font></a></li>
						<li><a href="registered.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Створити обліковий запис </font></font></a></li>
					</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="heder-bottom">
				<div class="container">
					<div class="logo-nav">
						<div class="logo-nav-left">
							<h1><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Top Shop </font></a></h1>
						</div>
						<div class="logo-nav-left1">
							<nav class="navbar navbar-default">
							<div class="collapse navbar-collapse" >
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html" class="act"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Головна</font></font></a></li>
									<li>
										<a href="woman.html" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Жінки</font></font></a>
									</li>
									<li >
										<a href="man.html" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Чоловіки </font></font></a>
									</li>
									<li><a href="mail.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зв'язок з нами</font></font></a></li>
								</ul>
							</div>
							</nav>
						</div>
						<div class="logo-nav-right">
							<ul class="cd-header-buttons" style="right: 17%;">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul> <!-- cd-header-buttons -->
							<div id="cd-search" style="top: 142px;" class="cd-search">
								<form action="#" method="post">
									<input name="Search" type="search" placeholder="Пошук...">
								</form>
							</div>
						</div>
						<div class="header-right2">
							<div class="cart box_1">
								<a href="checkout.html">
									<h3> <div class="total">
										<span class="simpleCart_total"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 140,00</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ( </font></font><span id="simpleCart_quantity" class="simpleCart_quantity"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> елементи)</font></font></div>
										<img src="../static/images/bag.png" alt="">
									</h3>
								</a>
								<p><a href="javascript:;" class="simpleCart_empty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кошик порожній</font></font></a></p>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<!--header-->
		<!--banner-->
		<div class="banner1"></div>
	<!--banner-->
		<!--content-->
			<div class="content">
				<div class="products-agileinfo">
						<h2 class="tittle" style="font-family: 'Pacifico', cursive;font-size: 55px;">Жіночий одяг</h2>
					<div class="container">
						<div class="product-agileinfo-grids w3l">
							<div class="col-md-9 product-agileinfon-grid1 w3l">

								<div class="mens-toolbar">
									<p >Showing 1–9 of 21 results</p>
									<div class="clearfix"></div>
								</div>
								<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
									<ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
										<ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
									<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="../static/images/menu1.png"></a></li>
									<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="../static/images/menu.png"></a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
											<div class="product-tab">
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/p6.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/p5.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html"></a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/p21.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/p22.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/p14.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/p13.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab prod1">
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i2.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i1.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i4.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i3.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i6.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i5.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab">
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i8.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i7.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i10.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i9.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i12.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i11.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab prod2">
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i8.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i7.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i14.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i13.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i2.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i1.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														<div class="women">
															<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
															<span class="size">XL / XXL / S </span>
															<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
															<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
														</div>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
											<div class="product-tab1">
												<div class="col-md-4 product-tab1-grid">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/p6.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/p5.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
													</div>
												</div>
												<div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
													<div class="women">
														<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
														<span class="size">XL / XXL / S </span>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
														<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
														<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab1 prod3">
												<div class="col-md-4 product-tab1-grid">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i2.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i1.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
													</div>
												</div>
												<div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
													<div class="women">
														<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
														<span class="size">XL / XXL / S </span>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
														<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
														<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab1">
												<div class="col-md-4 product-tab1-grid">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i4.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i3.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														
													</div>
												</div>
												<div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
													<div class="women">
														<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
														<span class="size">XL / XXL / S </span>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
														<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
														<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab1 prod3">
												<div class="col-md-4 product-tab1-grid">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i6.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i5.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
														
													</div>
												</div>
												<div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
													<div class="women">
														<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
														<span class="size">XL / XXL / S </span>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
														<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
														<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="product-tab1">
												<div class="col-md-4 product-tab1-grid">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
																	<div class="grid-img">
																		<img src="../static/images/i8.jpg" class="img-responsive" alt="">
																	</div>
																	<div class="grid-img">
																		<img src="../static/images/i7.jpg" class="img-responsive" alt="">
																	</div>			
																</a>		
															</figure>	
														</div>
													</div>
												</div>
												<div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
													<div class="women">
														<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
														<span class="size">XL / XXL / S </span>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
														<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
														<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		<!--content-->
	<!---footer--->
					<div class="footer-w3l">
						<div class="container">
							<div class="footer-grids">
								<div class="col-md-3 footer-grid">
									<h4><font style="font-family: 'Pacifico', cursive;font-size: 30px;">Про нас</></font></h4>
									<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наш магазин завжди радий вітати нових покупців. У нас ви знайдете найвишуканіші аксесуари та стильний одяг. Також для вас завжди прцює онлайн підтримка, на випадок якшо у вас виникнуть якісь запитання.</font></font></p>
								</div>
								<div class="col-md-3 footer-grid">
									<h4><font style="font-family: 'Pacifico', cursive;font-size: 30px;">Мій акаунт</></font></h4>
									<ul>
										<li><a href="checkout.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кошик</font></font></a></li>
										<li><a href="login.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вхід</font></font></a></li>
										<li><a href="registered.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Створити акаунт </font></font></a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4><font style="font-family: 'Pacifico', cursive;font-size: 30px;">Інформація</></font></h4>
									<ul>
										<li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Головна</font></font></a></li>
										<li><a href="woman.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Жіноча продукція</font></font></a></li>
										<li><a href="man.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Чоловіча продукція</font></font></a></li>
										<li><a href="mail.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зв'язок з нами</font></font></a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid foot">
									<h4><font style="font-family: 'Pacifico', cursive;font-size: 30px;">Контакти</></font></h4>
									<ul>
										<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">вул. Горбачевського 14, Львів</font></font></a></li>
										<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+380639992211</font></font></a></li>
										<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:example@mail.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> example@mail.com</font></font></a></li>

									</ul>
								</div>
							</div>

						</div>
					</div>
					<!---footer--->
</body>
</html>